###> symfony/framework ###
APP_ENV=dev
APP_SECRET=%generated_token%
TRUSTED_PROXIES=127.0.0.1,127.0.0.2
TRUSTED_HOSTS=^localhost$,^127\.0\.0\.1$
###< symfony/framework ###

###> doctrine/doctrine-bundle ###
DATABASE_URL="postgresql://postgres:postgres@db:5432/masteroftickets?serverVersion=15&charset=utf8"
###< doctrine/doctrine-bundle ###

###> predis/predis-client ###
REDIS_URL="redis://redis:6379"
###< predis/predis-client ###

### Custom variables ###
APP_FRONTEND_URL=http://localhost:5173
API_BASE_URL=http://localhost:8000